.about_wrapper {
  min-height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-bottom: 50px;
  & .topcit {
    width: 100%;
    & .title {
      @apply text-xl sm:text-3xl font-bold mb-5;
      & span {
        @apply text-xl sm:text-3xl font-bold;
        color: green;
        font-weight: 800;
      }
    }

    & .card {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      padding: 30px;
      max-width: 80rem;
      margin: 0 auto;
      @apply min-h-[35dvh] bg-white shadow-md rounded-md;
      & .card__title {
        @apply text-xl sm:text-3xl font-bold;
        & span {
          @apply text-xl sm:text-3xl font-bold;
          color: green;
          font-weight: 800;
        }
      }

      & .card__content {
        & .card__lists {
          display: flex;
          flex-wrap: wrap;
          & .card__lists--item {
            margin-bottom: 10px;
            position: relative;

            & .list__item--bullet {
              position: absolute;
              left: -15px;
              top: 0;
              background-color: green;
              width: 8px;

              & .list__item--bullet-inner {
                position: absolute;
                left: 0;
                top: 0;
                width: inherit;
                height: 25%;
                background-color: black;
              }
            }
          }
        }
      }
    }
  }
}
