.list__item {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  align-items: center;
  padding-left: 20px;
  & .list__item--header {
    flex: 0 1 100%;
    padding: 0;

    & .list__item--title {
      font-size: 1.5rem;
      font-weight: 700;
      margin-bottom: 10px;
    }

    & .list__item--subheader {
      font-size: 1.2rem;
      font-weight: 500;
      margin-bottom: 10px;
    }
  }

  & .list__item--content {
    flex: 0 1 100%;
    padding: 0;
  }

  & .list__item--bullet {
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    background-color: green;
    width: 8px;

    & .list__item--bullet-inner {
      position: absolute;
      width: inherit;
      height: 25%;
      background-color: black;
    }
  }
}
