.list__item--bullet {
  flex: 0 0 auto;
  position: relative;

  display: inline-block;
  background-color: green;
  width: 8px;

  & .list__item--bullet-inner {
    position: absolute;
    left: 0;
    top: 0;
    width: inherit;
    height: 25%;
    background-color: black;
  }
}

.slickDots {
  bottom: -40px;
  left: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;

  & li {
    margin: 0 5px;
    display: inline-block;
  }

  &li.slick-active > button {
    background-color: #000;
  }
}
